@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.fix{
    overflow: hidden;
}

.logo{
    float: left;
}
.nav_bar{
    float: right;
    display: flex;
    margin-right: 19px;
}
.user{
    float: left;
}
.login a{
    float: left;
    margin-top: 15px;
}
.en{
    margin-top: 15px;
 
    
}
.logo a img{
    width: 200px;
}
input:focus{
    outline: none;
}
.search{
    background-color: white;
    width: 1004px;
    padding: 20px 61px;
    box-shadow: 2px 0px 15px #7b6c6c;
    box-sizing: border-box;

}
.search p{
    display: inline;
    margin-left: 7px;
}
.search input{
    padding: 20px;
    width: 500px;
    border: none;
    border: 0.5px solid #DCDCDC;

}
.search button{
    padding: 18px 40px;
    font-size: 15px;
    color: white;
    font-weight: 900;
    background-color: #C60D5C;
    border: 0px;
    padding-bottom: 20px;
    margin-left: 18px;
}
.search button:hover{
    background-color: #a50e50;
    cursor: pointer;
    transform: scale(1.02);



}
.search button:last-child{
    margin-left: 6px;
}
.search-button{
    margin-top: 142px;
    margin-left: 85px;
}
.search-button h2{
    font-size: 38px;
    padding-bottom: 82px;
    color: #777272;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
.search{
    position: relative;
}
.search-button img{
    position: absolute;
    top: 383px;
    right: 728px;
}

.search-button img:last-child{
    position: absolute;
    top: 57px;
    right: 0px;
    width: 611px;
    z-index: -1;
}








