*{
    margin: 0;
    padding: 0;
}

.clearfix::after{
content: "";
display: block;
clear: both;

}
.header-menu {
    padding: 20px 40px;
    align-items: center;
   
    
    

}
.header-menu .logo {
  float: left;
  width: 15%; 
  margin-right: 20px; 
}
.header-menu .logo img{} 
.search-icon {
    position: relative;
}
.search-icon .search {
    float: left;
    width: 60%;

}
.search-icon .search input {
border: 1px solid #188fff;
border-radius: 4px 0 0 4px;
line-height: 1.43;
font-size: 14px;
padding-left: 5px;
padding-right: 450px ;
padding-top: ;
padding-bottom: 20px;

}
.seaceincon {
    display: inline-block;
    position: absolute;
    margin-right: 250px;
    padding: 13px 40px;
    background: #4889f8;
    color:white;
    border-radius: 0 4px 4px 0;


}
.seaceincon i {
    display: block;
    font-weight: 600;

}
   
}
.header-signin {
    float: left;
    width: 5px;
    position: relative;

}
.header-signin a {
    display: inline-block;
    text-decoration: none;
    margin-left: 45px;
    color: #6001D2;
    border: 2px solid #6001D2;
    padding: 4px 13px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin-top: 9px;
    
}
.notificon-icon img {
    float: left;
    display: inline-block;
    margin-left: 150px;
    position: absolute;
    margin-top: -30px;
    
}
.notificon-icon {
    position: relative;
    
}
.mail-icon-text {
 float: left;
 margin-left: 220px;
 margin-top: -30px;
 
}
.notificon-icon:hover .mail-icon-text.mail-icon a img {
   
}
.mail-icon-text.mail-icon {
    position: relative;
}
.mail-icon-text.mail-icon a img{
    
    
}
.mail-icon-text .mail-text h4{
    display: inline-block;
    float: left;
    text-decoration: none;   
    margin-left: 35px;
    margin-top: -25px;
    color: black;    
}
.mail-icon-text .mail-text h4:hover{
    color: white;
    visibility: -5;
    

}
}
